
{% if children is defined and children.searchHits is not empty %}

    <div class="row">
        <div class="small-10 small-centered columns">
            {% for item in children.searchHits %}
                {{ render(controller('ez_content:viewAction', {
                     locationId: item.valueObject.contentInfo.mainLocationId,
                     viewType: 'line'
                 })) }}
            {% endfor %}
        </div>
    </div>

    {#% if pagerFolder.haveToPaginate() %}
        <div class="column row">
            {{ pagerfanta(pagerFolder, 'twitter_bootstrap3_translated', {
                'routeName': location
            }) }}
        </div>

        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
          <li class="pagination-previous disabled">Previous</li>
          <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
          <li><a href="#" aria-label="Page 2">2</a></li>
          <li><a href="#" aria-label="Page 3">3</a></li>
          <li><a href="#" aria-label="Page 4">4</a></li>
          <li class="ellipsis"></li>
          <li><a href="#" aria-label="Page 12">12</a></li>
          <li><a href="#" aria-label="Page 13">13</a></li>
          <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
        </ul>
    {% endif %#}

{% endif %}
